
<div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
	<div class="row w-100">
		<div class="col-lg-8 col-md-12 mx-auto">
			<div class="row mx-auto">
				<div class=" bg-white col-lg-6 d-none d-lg-block" style="background-image: url('assets/images/authimage.jpg'); background-size: 430px 550px; background-repeat: no-repeat;">
				</div>
				<div class=" bg-white col-lg-6 col-md-12 align-self-center">
					<div class="mb-5 mt-3 text-center">
						<h2> Lost your password?!</h2>
						<h6> We've got your back</h6>
					</div>
					<div class="auto-form-wrapper mx-lg-5">
						<form NgForm="loginform">
							<div class="form-group">
								<label class="label">Email</label>
								<div class="input-group">
									<input type="text" name="email" required class="form-control" placeholder="Email">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-check-circle-o"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-primary submit-btn btn-block">Reset</button>
							</div>
							<div class="text-block text-center my-3">
								<span class="text-small">Remembered your password now?</span> 
								<a routerLink="/login" class="text-black text-small font-weight-semibold"> Login</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>