<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
		<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
			<a class="navbar-brand brand-logo" routerLink="/">
				<i class="fa fa-bank">  SMIX </i> </a>
			<a class="navbar-brand brand-logo-mini" routerLink="/">
				<i class="fa fa-bank">SMIX</i> </a>
		</div>
		<div class="navbar-menu-wrapper d-flex align-items-center">
			<form class="ml-auto search-form d-none" action="#">
				<div class="form-group">
					<input type="search" class="form-control" placeholder="Search Here">
				</div>
			</form>
			<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
				<span class="fa fa-bars"></span>
			</button>
		</div>
	</nav>