
<div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
	<div class="row w-100">
		<div class="col-lg-8 col-md-12 col-12 card py-4 mx-auto">
			<div class="row mx-auto">

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-12">
                                <h2>{{business.name}}</h2>
                                <h5>{{business.email}}</h5>
                                <h5>{{business.address}}</h5>
                                <h5>Business ID: {{business.reference}}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12 align-self-center">
                                <div class="card card-rounded bg-transparent p-2">
                                    <div class="row">
                                        <div class="col-12">
                                            <p>Invoice To:</p>
                                            <h4>{{client.name}}</h4>
                                            <p>
                                                {{client.phone}} <br>
                                                {{client.address}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12"></div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="card-rounded bg-transparent p-2">
                                    <div class="row">
                                        <div class="col-12">
                                            Invoice No.:
                                            <h4> {{invoice.reference}} </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            Currency:
                                            <h4> {{invoice.currency}} </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            Due Date:
                                            <h4> {{invoice.duedate | date:'MMMM d, YYYY'}} </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 *ngIf="invoice.status == 'paid'" class="text-success text-uppercase"> {{invoice.status}} </h4>
                                            <h4 *ngIf="invoice.status == 'unpaid'" class="text-danger text-uppercase"> {{invoice.status}} </h4>
                                            <h4 *ngIf="invoice.status == 'partly paid'" class="text-warning text-uppercase"> {{invoice.status}} </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="card card-no-shadow bg-transparent">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Description</th>
                                            <th>Qty</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of invoice.items; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>
                                                {{item.description}}
                                            </td>
                                            <td>
                                                {{item.quantity}}
                                            </td>
                                            <td>
                                                {{item.rate | currency:' '}}
                                            </td>
                                            <td>
                                                {{item.amount | currency:' '}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="row mt-3">
                                    <div class="col-lg-4 col-md-4 col-12 align-self-center">
                                        <div class="form-group">
                                            <span class="btn btn-lg btn-inverse-outline-success">Make Payment</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12 align-self-center">
                                        <div class="form-group">
                                            <button [disabled]="sharing" class="btn btn-lg btn-dark" (click)="share()"> <i class="mr-2 fa fa-share-alt"></i> Share</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Total Amount</label><br>
                                                <span class="btn btn-lg btn-dark">{{invoice.amount | currency:invoice.currency}}</span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Amount Paid</label><br>
                                                <span class="btn btn-lg btn-success">{{invoice.amount | currency:invoice.currency}}</span>
                                            </div>
                                        </div>
                                        <div *ngIf="invoice.amountpaid>0 && invoice.amount > invoice.amountpaid" class="col-lg-2 col-md-3 col-12">
                                            <div class="form-group">
                                                <label>Balance</label>
                                                <span class="btn btn-lg btn-danger">{{invoice.amount - invoice.amountpaid | currency:invoice.currency}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

			</div>
		</div>
	</div>
</div>