
<!-- Page Title Header Starts-->
<div class="row page-title-header">
	<div class="col-12">
		<div class="page-header">
			<h4 class="page-title">Customer Support</h4>
			<div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
				<ul class="quick-links">
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-12">
        <p>Resources <i class="fa fa-chevron-right pl-3"></i></p>
        <p>Frequently asked questions <i class="fa fa-chevron-right pl-3"></i></p>
        <p>Terms and conditions <i class="fa fa-chevron-right pl-3"></i></p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-4">
        <div class="card card-body bg-transparent">
            <h4>Contact us</h4>
            <table>
                <tbody>
                    <tr>
                        <td>Email:</td>
                        <td>smixx23@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Contact no:</td>
                        <td>08090000600</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


